html,body{
	height:100%;
	min-height: 650px;
}
.header{
	min-width:1200px;
	min-height:600px;
	background:#000;
	background:url(../images/pifu2.jpg);
	height:100%;
}
.xinxi{
	width: 1200px;
	min-width:1200px;
	height: 50px;
	margin: 0 auto;
	background: rgba(0,0,0, 0.5);
	position: relative;
	z-index: 999;
}

.xinxi li{
	float: left;
	width: 141px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	position: relative;
	z-index: 2;
}
#block{position:absolute; top:0; left:0; z-index:1; background: rgba(247,1,12, 0.6); height: 50px;}
/* 首页 */

/* 个人信息 */
.gr{
	width: 1200px;
	
	height:100%;
	min-height:600px;
	position: absolute; left: 50%; top:-201px;
	margin-left: -600px;
	-webkit-transform:scale(0.166,0.33);
	-moz-transform:scale(0.166,0.33);
	-ms-transform:scale(0.166,0.33);
	transform:scale(0.166,0.33);
	overflow: hidden;

}
.resume_ul{
	width:600px;
	margin:80px 0 0 50px;
}
.resume_ul li{
	height:50px;
	width:100%;
}
.resume_ul li span{
	width:300px;
	float:left;
	color:#fff;
	font-size:25px;
	font-weight:bold;
}
.resume_ul li i{
	float:left;
	font-size:20px;
	color:#fff;
}
.resume_ul_l{
	width: 460px;
	margin-top: 80px;
	height: 385px;
	background: rgba(186, 186, 186, 0.6);
	padding: 20px;
}
h3{
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #fff;
	font-weight:bold;
}
.ping{
	font-size: 18px;
	color: #fff;
	line-height: 20px;
	margin-top: 10px;
}






/* 3D */
.box{ width:200px; height:200px; margin:100px auto; position:relative; 
	-webkit-transform-style:preserve-3d; 
	-webkit-transform:perspective(800px) rotateY(0deg) rotateX(0deg); 
	-webkit-transition:1s all ease;
	-moz-transform-style:preserve-3d; 
	-moz-transform:perspective(800px) rotateY(0deg) rotateX(0deg); 
	-moz-transition:1s all ease;
	-ms-transform-style:preserve-3d; 
	-ms-transform:perspective(800px) rotateY(0deg) rotateX(0deg); 
	-ms-transition:1s all ease;
	transform-style:preserve-3d; 
	transform:perspective(800px) rotateY(0deg) rotateX(0deg); 
	transition:1s all ease;
	}
.box .box_f{ width:100%; height:100%; position:absolute; top:0; left:0; text-align:center; line-height:200px;}
.back{ background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform:translateZ(-100px) scale(-1,1);
	-moz-transform:translateZ(-100px) scale(-1,1);
	-ms-transform:translateZ(-100px) scale(-1,1);
	transform:translateZ(-100px) scale(-1,1);
	}
.left{ background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform: translate(-100px,0) rotateY(-90deg);
	-moz-transform: translate(-100px,0) rotateY(-90deg);
	-ms-transform: translate(-100px,0) rotateY(-90deg);
	transform: translate(-100px,0) rotateY(-90deg);
}
.right{background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform: translate(100px,0) rotateY(90deg);
	-moz-transform: translate(100px,0) rotateY(90deg);
	-ms-transform: translate(100px,0) rotateY(90deg);
	transform: translate(100px,0) rotateY(90deg);
}
.top{ background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform: translate(0,-100px) rotateX(90deg);
	-moz-transform: translate(0,-100px) rotateX(90deg);
	-ms-transform: translate(0,-100px) rotateX(90deg);
	transform: translate(0,-100px) rotateX(90deg);
}
.bottom{ background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform: translate(0,100px) rotateX(-90deg);
	-moz-transform: translate(0,100px) rotateX(-90deg);
	-ms-transform: translate(0,100px) rotateX(-90deg);
	transform: translate(0,100px) rotateX(-90deg);
}
.front{background:url(../images/1.jpg); background-size:contain; 
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-ms-transform: translateZ(100px);
	transform: translateZ(100px);
}
/*.box:active{-webkit-transform:perspective(800px) rotateY(90deg) rotateX(0deg); }
*/input{
	width: 50px;
	height: 30px;
}
.sy_img{ 
	width: 100%;
	height: 100%;
}
.shouyq,.shouys,.shouyh,.shouyz,.shouyr,.shouyx{
	width:200px; 
	height:204px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	opacity:0;
	left: 576px;
	z-index: 1;
	-webkit-transform:scale(1,1) translate(0,100px) ;
	-webkit-transition:1s all ease;
	-moz- transform:scale(1,1) translate(0,100px) ;
	-moz- transition:1s all ease;
	-ms-transform:scale(1,1) translate(0,100px) ;
	-ms-transition:1s all ease;
	transform:scale(1,1) translate(0,100px) ;
	transition:1s all ease;
}
.box img{
	opacity:1;
	-webkit-transition:2s all ease;
	-moz- transition:2s all ease;
	-ms-transition:2s all ease;
	transition:2s all ease;
}
/* 3D */

/* 展示模板 */
.div1{
	width: 100%;
	height: 650px;
	-webkit-transform: scale(0.166,0.33);
	-moz-transform: scale(0.166,0.33);
	-ms-transform: scale(0.166,0.33);
	transform: scale(0.166,0.33);
	position: absolute;
    left: 0px;
    top: -225px;
}
.ul1{width:200px;margin:50px auto; position:relative;
	-webkit-transform-style:preserve-3d; 
	-webkit-transform:perspective(800px);
	-moz-transform-style:preserve-3d; 
	-moz-transform:perspective(800px);
	-ms-transform-style:preserve-3d; 
	-ms-transform:perspective(800px);
	transform-style:preserve-3d; 
	transform:perspective(800px);
}
.ul1 li{ width:100%;height:100%; position:absolute; top:0; left:0; /*line-height:300px;*/ font-size:30px; opacity:0; border:1px solid #000; -webkit-transition:1s all ease;}
.ul1 img{
	width: 100%;
	height: 100%;
}
.ul1 li.l2{opacity:1; 
	-webkit-transform:translate(-260px,0) rotateY(28deg); 
	-moz-transform:translate(-260px,0) rotateY(28deg); 
	-ms-transform:translate(-260px,0) rotateY(28deg); 
	transform:translate(-260px,0) rotateY(28deg); 
	margin-left: -260px; z-index:1; margin-top: -5px; }
.ul1 li.l1{opacity:1; 
	-webkit-transform:translate(-220px,0) rotateY(15deg); 
	-moz-transform:translate(-220px,0) rotateY(15deg);
	-ms-transform:translate(-220px,0) rotateY(15deg);
	transform:translate(-220px,0) rotateY(15deg);
	margin-left: -30px; z-index:1;height: 126px;}
.ul1 li.cur{ opacity:1; z-index:4; height: 121px; margin-top: 2px;}
.ul1 li.r1{opacity:1; 
	-webkit-transform:translate(220px,0) rotateY(-15deg); 
	-moz-transform:translate(220px,0) rotateY(-15deg);
	-ms-transform:translate(220px,0) rotateY(-15deg);
	transform:translate(220px,0) rotateY(-15deg);
	margin-left: 30px; z-index:1;height: 126px;}
.ul1 li.r2{opacity:1; 
	-webkit-transform:translate(260px,0) rotateY(-28deg);
	-moz-transform:translate(260px,0) rotateY(-28deg);
	-ms-transform:translate(260px,0) rotateY(-28deg);
	transform:translate(260px,0) rotateY(-28deg); 
	margin-left: 260px; z-index:1;  margin-top: -5px;}
.ul1 li.r3{
	opacity:1; 
	-webkit-transform:translate(260px,0) rotateY(-28deg); 
	-moz-transform:translate(260px,0) rotateY(-28deg); 
	-ms-transform:translate(260px,0) rotateY(-28deg); 
	transform:translate(260px,0) rotateY(-28deg); 
	margin-left: 595px; z-index:1; height: 157px; margin-top: -16px;
	display: block;
}
.ul1 li.l3{
	opacity:1; 
	-webkit-transform:translate(-260px,0) rotateY(28deg); 
	-moz-transform:translate(-260px,0) rotateY(28deg); 
	-ms-transform:translate(-260px,0) rotateY(28deg); 
	transform:translate(-260px,0) rotateY(28deg); 
	margin-left: -595px; z-index:1;height: 157px; margin-top: -16px; display: block;
}
.ul1 li.r4,li.l4{
	display: none;
}
.zuyo{
	position: absolute;
	bottom: 0px;
	left: 540px;
	z-index: 999;
}
.zuyo a{
	width: 50px;
	height: 30px;
}
.ul1 li a{
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: relative;
}
.ul1 li span{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 120px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute; bottom: -100%;
	font-size: 20px;
	color: #fff;
}
/* 展示模板 */



.tx img{
	width: 276px;
	margin-left: -44px;
	margin-top: -9px;
}
.tx{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin: 50px auto;
}
.xian{
	width: 800px;
	height: 2px;
	background: #000;
	display: inline-block;
	margin-left: 200px;
	margin-bottom: 50px;
}
.mingy{
	font-size: 20px;
	color: #000;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.bjt{
	background: url(../images/bjy.png) no-repeat;
	background-size:contain;
}
.bjt1{
	background: url(../images/bjy1.png) no-repeat;
	background-size:contain;
}
.zyjn{
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
	border-bottom: 1px solid #f00;
	margin: 0 100px 0;
}
.zye{
	margin: 0 100px 0;
}
.zye li img{
	width: 150px;
	height: 150px;
}
.zye li{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 40px;
	float: left;
	border: 1px solid #000;
	position: relative;
	overflow: hidden;

}
.zye span{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 150px;
	font-size: 30px;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	position: absolute; left: -150px; top: 0px;
}
.explain{
	margin: 0 100px 0;
	font-size: 20px;
	background: #c8c8dc;
	border-radius: 20px;
	height: 200px;
	margin-top: 50px;
	padding: 20px;
}
.explain li{
	display: none;
}
.explain .explain_li{
	display: block;
}

/*.sfq{ width:600px; height:337px; margin:100px auto; overflow:hidden; position:relative; }
.sfq li{ position:absolute; top:0; width:600px; height:337px; }
.sfq img{ width:100%; height:337px; }*/

.sfq{
	width: 700px;
	height: 600px;
	margin:50px auto;
	position: relative;
	overflow: hidden;
}
.sfq img{
	width: 300px;
	height: 600px;
	position: absolute;
	left: 0px;
	border: 5px solid #000;
}
.sfq a{
	position: relative;

}
.sfq li{
	position: absolute;
	left: 0px; top: 0px;

}
.jingl{
	width: 1100px;
	height: 3px;
	background: #333;
	border-radius: 2px;
	position: absolute; left: 50px; top: 400px;
}
.jingl_ul li{
	width: 40px;
	height: 40px;
	background:-webkit-radial-gradient(#fff,#000);
	background:-moz-radial-gradient(#fff,#000);
	background:-ms-radial-gradient(#fff,#000);
	background:radial-gradient(#fff,#000);
	border-radius: 20px;
}
.jingl_ul .hong{
	background:-webkit-radial-gradient(#f00,#fff);
	background:-moz-radial-gradient(#f00,#fff);
	background:-ms-radial-gradient(#f00,#fff);
	background:radial-gradient(#f00,#fff);
	position: absolute; left: 200px; top: 380px;
}
.jingl_p{
	position: absolute; left: 200px; top: 380px;
}
.jingl_p span{
	position: absolute; bottom: -60px; left: -30px;
	width: 100px;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: 微软雅黑;
}
.gradua{
	width: 1200px;
	position: absolute; top: 50px;
	height: 270px;
	
	/*border: 1px solid #000;*/
}
.gradua_ul{
	width: 10000px;
	position: absolute;
	
}
.gradua li{
	width: 600px;
	background: #aaa;
	margin-left: 300px;
	float: left;
	height: 270px;
	position: relative;
}

.gradua .gradua_b{
	display: block;
}
.gradua img{
	width: 270px;
	height: 270px;
	position: absolute; right: 0px;
}
.gradua div{
	font-size: 26px;
	position: absolute;left: 20px; top: 25px;
}
.jingl_p1{
	position: absolute; left: 370px; top: 380px;
}
.jingl_p2{
	position: absolute; left: 540px; top: 380px;
}
.jingl_p3{
	position: absolute; left: 710px; top: 380px;
}
.jingl_p4{
	position: absolute; left: 880px; top: 380px;
}
