@charset "utf-8";
/* 头部 */
.top{ width:1007px;
	 margin:0 auto;
	 position:relative;
	 left:0px; top:-400px;
	}

.tu_ul_li{ height:410px;
			background:url(../img/a1.jpg) 0 0;
			}	
.tu_ul_li1{ height:410px;
			background:url(../img/a2.jpg) 0 0;}
.tu_ul li{ display:none;}			  
.tu_ul .tu_ul_lis{ display:block;}			  
.top_div_div_text{ width:230px;
					height:27px;
					border:1px solid #CCC;}
.top_div_div_text i{ width:36px;
			  height:31px;
			  background:url(../img/a1.png) no-repeat;
			  display:block;}
.top_div_sub{ width:80px;
			  height:30px;
			  background:#4e8700;
			  border:0;
			  color:#FFF;
			  font-size:14px;
			  margin:0 20px 0;
			  font-family:微软雅黑;}
.top_div_div2{ font-size:12px;
				margin-top:9px;
				font-family:微软雅黑;}			  
.top_div_div2 a{ color:#F00;
				margin:0 7px 0;}
.top_div_div2_a{ padding-right:14px;}
.top_div_div2_a i{ border:5px solid transparent;
				   border-top:5px solid #F00;
				   width:0px;
				   height:0px;
				   display:inline-block;
				   margin-top:3px;}
.top_div2{ width:218px;
		   height:347px;
		   background:#000;
		   border-radius:5px;
		   opacity:0.5;
		   filter:alpha(opacity:50);}
.top_ul li{ font-size:12px;
		    color:#FFF;
			padding:9px 0 10px 8px;
			width:196px;
			border-bottom:1px solid #FFF;
			font-family:微软雅黑;}
.top_div3{ position:absolute; right:0; top:50px;}
.top_ul{ position:absolute;
		 left:5px; top:3px;}
.top_ul_li{ background:#699f00;}
.top_div4{ width:100%;
			
		   height:97px;
		   background:#000;
		   padding-top:10px;
		   }

.top_div4_ul{ width:980px;
			  height:90px;
			  border:1px solid #78a524;
			  margin:0px 0 0 15px;
			  border-radius:5px;
			  margin:0 auto;}
.top_div4_ul_li{ width:168px;
				 height:76px;
				 border-right:1px solid #78a524;
				 margin-top:7px;
				 background:url(../img/a2.png) no-repeat 15px 9px;}
.top_div4_ul_li a{ font-size:12px;
				   color:#FFF;
				   display:block;
				   margin:10px 0 0 139px;
				   font-family:微软雅黑;
				   } 

.top_div4_ul_li1{ width:110px;
				 height:76px;
				 border-right:1px solid #78a524;
				 margin-top:7px;
				 padding-left:10px;}
.top_div4_ul_li1 a{ color:#FFF;
					width:52px;
					display:block;
					float:left;
					margin:5px 0 7px;}
.top_div4_ul_li2{ width:180px;
				 height:76px;
				 border-right:1px solid #78a524;
				 margin-top:7px;
				 padding-left:10px;}
.top_div4_ul_li2 a{ color:#FFF;
					width:80px;
					display:block;
					float:left;
					margin:5px 0 7px;}					
.top_div4_ul_li3{ width:125px;
				 height:76px;
				 margin-top:7px;
				 padding-left:10px;}
.top_div4_ul_li3 a{ color:#FFF;
					width:60px;
					display:block;
					float:left;
					margin:5px 0 7px;}

.nav{ 
	width:1180px;
	margin:0 auto;
	}
.nav_div{
	width:380px;}
.h3{
	font-size:24px;
	color:#699f00;
	height:40px;
	border-bottom:2px solid #699f00;
	line-height:40px;
	font-family:微软雅黑;
	}
.nav_a{
	font-size:12px;
	color:#699f00;
	font-family:微软雅黑;
	margin-left:5px;}
.nav_p{
	width:37px;
	height:25px;
	border:1px solid #699f00;
	font-size:12px;
	color:#000;
	line-height:25px;
	padding-left:28px;
	border-radius: 18px;
	position:relative;
	font-family:微软雅黑;}
.i{
	width:14px;
	height:14px;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -120px -400px;
	display:block;
	position:absolute; left:9px; top:5px;}
.nav_ul{
	width:110px;
	height:170px;
	border:1px solid #CCC;
	position:absolute; right:0px; top:26px;
	display:none;
	background:#FFF;
	z-index:1;}
.nav_ul li{
	font-size:12px;
	color:#333;
	line-height:33px;
	border-bottom:1px dashed #CCC;
	text-align:center;
	font-family:微软雅黑;
	}

.nav_p:hover .nav_ul{
	display:block;}
.nav_ul li:hover{
	background:#699f00;}
.content{
	font-size:20px;
	margin-top:15px;
	text-align:center;
	display:block;
	font-family:微软雅黑;}
.nav_ul1_li{
	position:relative;
	margin-top:15px;}
.nav_ul1_i{
	width:13px;
	height:13px;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -100px -1420px;
	display:block;
	position:absolute; left:0px; top:3px;}
.nav_ul1_a{
	padding-left:20px;
	font-size:16px;
	font-family:微软雅黑;}
.nav_ul1_a1{
	font-size:16px;
	font-family:微软雅黑;}
.nav_div{
	margin-top:20px;}
.nav_div_p{
	width:175px;
	height:35px;
	line-height:35px;
	background:#f2f2f2;
	padding-left:5px;
	font-size:14px;}
.nav_div img{
	display:block;}
.nav_img{

	position:relative;}
.nav_img_i{
	width:378px;
	height:40px;
	opacity:0.5;
	filter:alpha(opacity:50);
	position:absolute; left:0px; bottom:0px;
	background:#000;}
.nav_img_p{
	height:40px;
	line-height:40px;
	position:absolute; left:50px; bottom:0px;
	font-size:16px;
	font-family:微软雅黑;
	color:#FFF;
	font-weight:bold;}
.nav_img_i1{
	width:32px;
	height:27px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -165px -406px;
	border-radius:8px;
	position:absolute; left:10px; bottom:7px;}
.nav_div3{
	margin-top:20px;
	margin-left:20px;
	}
.nav_ul1_li1{
	margin-top:22px;}
.nav_img3{
	margin-top:20px;
	width:380px;}
.nav_img_li{
	margin-left:10px;
	margin-bottom:25px;}
.nav_div_p:hover,
.nav_ul1_a:hover,
.nav_ul1_a1:hover,
.h3_a1:hover,
.h3_a2:hover{
	color:#74b000;}


/* 综艺 */
.column{
	width:1180px;
	margin:0 auto;
	}
.h3_p{
	font-size:28px;
	color:#74b000;
	position:relative;
	padding-left:22px;
	line-height:48px;
	font-weight:bold;
	font-family:微软雅黑;}
.h3_p i{
	width:15px;
	height:25px;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -120px -1160px;
	display:block;
	position:absolute; left:0px; top:10px;}
.h3_1{
	height:48px;
	width:980px;
	
	border-bottom:2px solid #74b000;}
.h3_a{
	color:#74b000;
	font-size:12px;
	margin-top:22px;
	margin-left:13px;
	font-family:微软雅黑;}
.h3_a1{
	font-size:12px;
	margin-top:22px;
	margin-left:35px;
	font-family:微软雅黑;}
.h3_a2{
	font-size:12px;
	margin-top:22px;
	font-family:微软雅黑;}
.h3_i{font-size:12px;
	margin-top:22px;
	margin-left:8px;
	margin-right:8px;
	color:#CCC;
	font-family:微软雅黑;}
.h3_1_img{
	margin-top:25px;
	font-family:微软雅黑;}
.h3_1_img1{
	margin-top:14px;
	font-family:微软雅黑;}
.content1{
	position:relative;
	display:block;
	width:380px;}
.content1_i{
	width:125px;
	height:45px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -24px -1000px;
	position:absolute; left:0px; top:-1px;}
.content1_i1{
	width:72px;
	height:72px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat 0 -530px;
	position:absolute; right:0px; top:-1px;
	}
.content1_i2{
	width:16px;
	height:16px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -160px -580px;
	position:absolute; right:45px; top:5px;
	display:none;}
.content1_i3{
	width:16px;
	height:16px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -180px -580px;
	position:absolute; right:16px; top:5px;
	display:none;}
.content1_img{
	display:block;}
.content1:hover .content1_i1{
	display:none;}
.content1:hover .content1_i2{
	display:block;}
.content1:hover .content1_i3{
	display:block;}
.content1_i4{
	width:50px;
	height:25px;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity:50);
	position:absolute; right:0px; bottom:0px;}
.content1_p{
	font-size:12px;
	color:#FFF;
	position:absolute; bottom:6px; right:2px;
	z-index:1;
	font-weight:bold;
	font-family:微软雅黑;}
.content2{
	width:380px;
	height:55px;
	background:#f2f2f2;
	display:block;}
.content2_i{
	font-size:16px;
	padding:5px 0 0 5px;
	display:block;
	font-family:微软雅黑;}
.content2_i1{
	font-size:12px;
	color:#CCC;
	margin:4px 0 0 5px;
	display:block;
	font-family:微软雅黑;}
.content_z{
	margin-top:20px;}
.content3{
	width:180px;
	height:50px;
	display:block;
	background:#f2f2f2;}
.content4{
	width:180px;
	display:block;
	position:relative;}
.content4_i1{
	width:39px;
	height:39px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -183px -530px;
	position:absolute; right:0px; top:0px;}
.content4:hover .content4_i1{
	display:none;}
.content4:hover .content1_i2{
	display:block;}
.content4:hover .content1_i3{
	display:block;}
.content4_li{
	margin-top:20px;
	margin-left:20px;
	float:left;}
.content4_ul{
	width:600px;}
.h3_1a{
	width:180px;}
.sidebar{
	width:180px;
	height:325px;
	background:#f2f2f2;
	margin-top:20px; }
.sidebar_li_a1{
	text-align:center;
	font-size:14px;
	margin-top:10px;
	padding-bottom:15px;
	border-bottom:1px dotted #CCC;
	display:block;
	font-family:微软雅黑;}
.sidebar_li{
	position:relative;}
.sidebar_li_i{
	width:6px;
	height:6px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -200px -700px;
	position:absolute; left:9px; top:5px;}
.sidebar_li_a2{
	font-size:14px;
	
	margin:15px 0 0 18px;
	display:block;
	font-family:微软雅黑;}


.h3_1b{
	margin-top:20px;
	border-bottom:1px solid #999;
	width:1180px;}
.content4_ul1{
	width:1180px;}
.content4_ul1 li{
	margin-left:15px;}
.img{
	margin:45px 0 35px;}

/* 娱乐 */
.h3_1c{
	border-bottom:2px solid #699f41;
	width:1180px;}
.h3_1_img1{
	margin-top:5px;}
.content4_ul2{
	width:800px;}
.column1{
	margin-top:20px;}

/* 电影 */
.dy_a{
	position:relative;
	display:block;}
.dy_a_i{
	display:block;
	width:180px;
	height:25px;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity:50);
	position:absolute; left:0px; bottom:0px;}
.dy_a_i1{
	display:block;
	width:36px;
	height:16px;
	background:url(../img/site-icons-v10-20150512.png) no-repeat -72px -926px;
	position:absolute; left:10px; bottom:4px;}
.dy_a1{
	display:block;
	width:180px;
	height:55px;
	background:#f2f2f2;}
.dy_a_img{
	display:block;}
.dy_a1_i{
	font-size:14px;
	color:#000;
	white-space: nowrap;
	line-height:30px;
	width:140px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:5px;
	font-family:微软雅黑;}
.dy_a1_i1{
	font-size:16px;
	color:#fe722c;
	font-weight:bold;
	line-height:30px;
	margin-right:5px;
	font-family:微软雅黑;}
.dy_a1_i2{
	font-size:12px;
	color:#999;
	margin-left:5px;
	font-family:微软雅黑;}
.dy2{
	float:left;
	margin-top:20px;
	
	}
.dy2_div{
	position:relative;
	margin-bottom:13px;}
.dy{
	margin-top:20px;
	margin-right:20px;
	float:left;
	}
.dy2_p{
	width:20px;
	height:20px;
	background:#6fa900;
	font-size:16px;
	color:#FFF;
	font-weight:bold;
	line-height:20px;
	text-align:center;}
.dy2_a{
	font-size:14px;
	margin-left:5px;
	margin-top:2px;
	font-family:微软雅黑;}
.dy2_i{
	width:7px;
	height:8px;
	display:block;
	background:url(../img/site-icons-v10-20150512.png) 0 -769px;
	position:absolute; left:170px; top:5px;}
.dy4{
	float:left;
	margin-top:20px;}
.h3_1d{
	width:580px;
	border-bottom:1px solid #999;}
.content4_dy{
	width:580px;
	}
.content4_li1{
	margin-left:0px;}


/* 尾 */
.footer{
	width:1180px;
	margin:0 auto;}
.footer_dl{
	width:568px;
	height:129px;
	background:#f7f7f7;
	border:1px solid #e7e7e7;
	margin-top:45px;
	padding:25px 0 0 20px;
	margin-bottom:50px;}
.footer_dt i{
	font-size:24px;
	font-weight:bold;
	margin-right:10px;
	font-family:微软雅黑;}
.footer_dd a{
	font-size:12px;
	color:#333333;
	display:block;
	margin-top:13px;
	width:80px;
	font-family:微软雅黑;}
.footer_dd a:hover{
	color:#F00;}
.footer_dd{
	float:left;}
.footer_dd1 a{
	width:189px;}
.footer1{
	width:100%;
	border-bottom:1px solid #999;}
.footers{
	text-align:center;
	margin:20px 5px 0;}
.footers_s{
	margin-left:40px;}
.footer_ul_li a{
	display:block;
	color:#999;
	font-size:12px;
	margin-top:15px;
	position:relative;
	font-family:微软雅黑;}
.footer_ul li{
	float:left;
	margin-right:43px;}

.content4_dy1{
	margin-left:20px;}
.content4_lis{
	width:180px;
	height:150px;
	background:#76b300;
	float:left;
	display:block;
	margin-top:20px;
	font-size:24px;
	line-height:150px;
	text-align:center;
	font-weight:bold;}
.content4_lis a{
	color:#FFF;}
































			  